<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ office_supplies.brand }}</title>
</head>
<body>
    <h1>{{ office_supplies.brand }}</h1>
    <p>Производитель: {{ office_supplies.brand }}</p>
    <p>Страна происхождения: {{ office_supplies.country_manufacturer }}</p>
    <p>Артикул: {{ office_supplies.article_number }}</p>
    <p>Дата изготовления: {{ office_supplies.manufactured_date }}</p>
    <p>Количество: {{ office_supplies.amount }}</p>
    <p>Рейтинг: {{ office_supplies.rating }}</p>
    <p>Цена: {{ office_supplies.price }}</p>
</body>
</html>